<! DOCTYPE html>  
<html>  
<head>  
<title>  
Facebook like button  
</title>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>  
<style>  
.select {  
width: 80%;   
padding:20px;   
border: 2px solid red;   
 }  
body {  
background-color: pink;  
           }  
p {  
color: red;  
font-size: 20px;  
}  
h1 {  
color: blue;  
}  
h2 {  
color: red;  
}  
b {  
color: green;  
}  
</style>                      
</head>  
<body>  
<div class="select">  
<h2> Example: </h2>  
<h1> Create Facebook like button </h1>  
<a title="Like this on Facebook"   
href="/like/{{ post.id }}/">Like</a>
    
layout=standard&  
    
show_faces=false&  
    
width=450&  
    
action=like&  
    
colorscheme=light&" >  
  <img title= "Facebook like Button"  
          
src="like.png"   
         alt=""   
          
height ="50"   
          
width ="50" align="center" />  
</a>  
</div>  
</body>  
</html>  

